#demo{
    width: 200px;
    height: 200px;
    background-color:  blanchedalmond;
    border: 5px solid rgb(232, 169, 74);
    border-radius: 15px;
    text-align: center;
    line-height: 150px;
}

#feedback{
    width: 350px;
    height: 200px;
    background-color:  rgb(35, 31, 156);
    border: 5px solid rgb(74, 232, 232);
    border-radius: 15px;
    text-align: center;
    line-height: 150px;
    color: aliceblue;
}